html{
    background-color: lightgray;
}
body{
    position:relative;
    background-color: white;
    margin:auto;
    font-size: 20px;
    font-family: sans-serif;
}



@font-face {
    font-family: 'vibes';
    src: url("Fonts/vibes.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'always';
    src: url("Fonts/always.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rocko';
    src: url("Fonts/rocko.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'broken';
    src: url("Fonts/broken");
    font-weight: normal;
    font-style: normal;
}

.head{
    font-size: 100px;
    text-align: center;
    margin: 20px;
    
}
.head h1{
    color:lightblue;
    font-family: vibes;
}
.head h2{
    color: lightcyan;
     font-family: always;
}

.do, .notes {
    text-align: center;
}

h3{
    
    color:darkblue;
    font-size: 30px;
}
.main {
    max-width: 1000px;
    margin: auto;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
}

.nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 40px 40px;
    text-decoration: none;
    font-family: rocko;
    
}

.nav li a:hover {
    background-color: black;
}

.active{
    background-color: darkblue;
    
}


footer{
	background:#555;	
	position:relative;
	font-family: rocko;
    padding: 30px;
	width:100%;
    color: white;
    
	
}
.background {
    background-image: url("Assets/bg.jpg");
    
}
.first {
    background-color: blue;
    padding: 100px;
    color: white;
    font-family: rocko;
}

.second {
    background-color: cornflowerblue;
    padding: 100px;
     color: white;
       font-family: rocko;
}

.third {
    background-color: royalblue;
    padding: 100px;
     color: white;
       font-family: rocko;
}
.fourth {
    background-color: deepskyblue;

    padding: 100px;
     color: white;
       font-family: rocko;
}

.fifth{
    background: lightskyblue;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    padding: 40px;
    list-style-type: disc;
}
.sixth{
    background: deepskyblue;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    padding: 40px;
    list-style-type: disc;
}
.seventh{
    background-color: lightskyblue;
    padding:40px;
    text-align: center;
    font-size: 25px;
}
.eighth{    
    background:deepskyblue ;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    padding: 40px;
    list-style-type: disc;
    
}

.education {
    background-color: blue;
    background: linear-gradient(dodgerblue,deepskyblue);
}



.about{
    background-color: ghostwhite;
    padding: 170px;
    background-image: url(Assets/pad.jpg);
    background-size: contain;
    
}
.aqualogo{
    padding: 150px;
    background-image: url(Assets/gallery/aqualogo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    

}

.exhead{
    text-align: center;
    color: lightcyan;
    font-size: 70px;
    padding: 20px;
}

.exhead h2{
    color: darkblue;
     font-family: vibes;
    background-color: ghostwhite;
    
}
.h3header h3{
       color: darkblue;
     font-family: broken;  
}

.subjects table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
    color: white;
}

.subjects td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

.subjects th {
  background-color: black;
}

.subjects td {
  text-align: center;
}

.subjects tr:nth-child(even) td {
  background-color: #444;
}

.subjects tr:nth-child(odd) td {
  background-color: #333;
}


