
body{
    position:relative;
    margin:auto;
    background: white;
    
}


.head img {
	width: 100%;
	height: 200px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: flex;
    top:0;
    width:100%;
}

li {
 float:left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 30px;
}

li a:hover:not(.active) {
    background-color: #444;

}

.active {
    background-color: black;
    color:white
}
.slideshow-container {
  max-width: 1000px;
  position: static;
  margin: auto;
}


.main {
    max-width: 1000px;
    margin: auto;
    background-color: ghostwhite;
    padding: 20px;
    line-height: 2;
    color: #111;
    font-family: sans-serif;
    font-size: 18px;
}
.main h3{
    color: white;
}

h5 {
	color:darkblue;
	font-family:arial;
	font-weight:bold;
	font-size:20px;

}
footer{
    background:darkblue;	
	position:relative;
    padding: 20px;
	width:100%;
    color: white;
    font-size: 20px;

}
h1{
    font-family: 'Chicle', cursive;
    text-align: center;
    
    color: darkblue;
    font-size: 50px;     
}


.oplist ul {
    list-style-type: square;
    overflow:auto;
    background-color: darkblue;
    position: -webkit-sticky; /* Safari */

}

.op list li {
    float: left;
}

. oplist li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 30px;
}
.background{

    background-color: whitesmoke;
 
}
td {
   display: inline;
  text-align: center;
  flex: 1;   
}

.tumblr{
    background-color: whitesmoke;

	padding: 40px 50px;

    
}

.footer h3{
    color: darkblue;
}
.footer{
    background-color: white;
    padding: 5px;
    position: relative;
}
#footer li{
      display: inline;
  text-align: center;
  flex: 1;

    border-right: 1px solid #bbb;

}

.top-bar
img{
	position: absolute;
    top: 0%;
    left: 0%;
    width: 63px;
    height: 63px;
    margin: 8px 0 0 8px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
	
}
@-moz-keyframes spin { 50% { -moz-transform: rotate(-10deg); } }
@-webkit-keyframes spin { 50% { -webkit-transform: rotate(-10deg); } }
@keyframes spin { 50% { -webkit-transform: rotate(-10deg); transform:rotate(-10deg); } }

.cs{
   
font-family: sans-serif;
}
.copy{
    background: black;
    padding: 30px;
}
